.info-block {
  width: 100%;
}
.info-block .data {
  position: relative;
  width: 80%;
  border: 2px solid #44444c;
  background-color: #d6d6d6;
  padding: 25px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.info-block .data ul {
  list-style: none;
}
.info-block .data .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 84%;
  position: absolute;
  border: 1px solid #0b0909;
  cursor: pointer;
  background-color: transparent;
}
.info-block .data .info img {
  width: 20px;
  height: 20px;
}

.user-data-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 3% 5% 0 5%;
  height: 41vh;
  border: 2px solid #8c8c8c;
  background-color: #d6d6d6;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.user-data-form .buttons {
  margin-left: -0.4%;
}

.address-data-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 60%;
  border: 2px solid #8c8c8c;
  background-color: #d6d6d6;
  margin-top: 10px;
  padding: 3% 5% 0 5%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.address-data-form .data-input h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -9%;
}
.address-data-form .data-input p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -9%;
}
.address-data-form .data-input input {
  width: 88%;
  height: 35px;
  border: 1px solid #8c8c8c;
  margin-left: -9%;
}
.address-data-form .buttons {
  margin-left: -7.5%;
}
.address-data-form .react-tel-input {
  border-radius: 0px;
}
.address-data-form .react-tel-input .flag-dropdown {
  border: 1px solid #8c8c8c;
  border-radius: 0px;
  background-color: #d6d6d6;
}
.address-data-form .react-tel-input .flag-dropdown .selected-flag {
  background-color: #d6d6d6;
}
.address-data-form .react-tel-input .flag-dropdown::open {
  border-radius: 0px;
}
.address-data-form .react-tel-input input {
  width: 72%;
  height: 32px;
  border: 1px solid #8c8c8c;
  background-color: transparent;
  border-radius: 0px;
}

.password-data-form {
  margin-top: 10px;
  padding: 3% 5% 0 5%;
  border: 2px solid #8c8c8c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  height: 30vh;
  background-color: #d6d6d6;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.password-data-form label {
  margin-top: 2%;
  margin-left: 7%;
}
.password-data-form .buttons {
  margin-left: -0.1%;
  padding: 3% 0 2% 0;
}