@import "../../Styles/mixins";
@import "../../Styles/global-variables";

.basket-container {
  @include pageLayout();

  .cards {
    display: inline-block;
    width: 40%;
    padding: 25px;
    margin: 1em 2%;
    box-shadow: $busket_box_shadow;

    .counter {
      margin-left: 0.75em;
    }
  }

  .checkout {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 400px;
    margin: 1em 3.15em;
    box-shadow: $busket_box_shadow;

    .checkout-content {
      margin: 2em;
      display: flex;
      align-items: center;
      height: 100%;

      img {
        margin-left: 5%;
        width: 40%;
      }

      .checkout-info {
        width: 50%;

        h1 {
          margin-bottom: 20%;
        }

        h2 {
          margin-bottom: 20%;
        }

        button {
          margin: 5% 10% 0 5%;
          width: 80%;
          height: 50px;
          border: none;
          background-color: $white;
          cursor: pointer;

          &:hover {
            background-color: $gray;
            transition: 200ms ease-in-out;
          }
          &:active {
            transition: 200ms ease-in-out;
            transform: translateY(2px);
          }
        }
      }
    }
  }
}
