@import "../../../Styles/global-variables";

.data-input {
  width: 80%;
  margin: 0 7%;

  &:first-child {
    margin-top: 15px;
  }

  input {
    width: 70%;
    height: 70%;
    background-color: $white;
    border: 1px solid $gray;
    padding-left: 0.5em;
    outline: none;
  }
}

.password-data-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 88%;

  input {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
  }

  .password-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.4;
    margin-left: 73%;

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.address-data-input {
  width: 100%;

  input {
    width: 88%;
    height: 30px;
    border: 1px solid $gray;
    margin-left: -9%;
  }
}
