@import "../../../Styles/global-variables";

.auth-input {
  width: 30vw;
  height: 40px;
  border-radius: 3px;
  border: 2px solid $primary;
  background-color: $white;
  box-shadow: 4px 4px #007f5c;
  font-size: 15px;
  font-weight: 600;
  color: $blue;
  padding: 5px 10px;
  outline: none;
  margin: 1em;
}

.message {
  width: 30vw;
  color: $error;
  text-align: left;
}
