@import "../../Styles/global-variables";
@import "../../Styles/mixins";

.login-container {
  @include auth-container();
}

.reg-container {
  @include auth-container();
  background-image: url("../../assets/visions/sneakers-background2.jpeg");

  form {
    a {
      &::before {
        content: "\2190";
      }

      &::after {
        content: "";
      }

      &:active {
        transform: translateX(-2px);
        transition: 100ms ease-in-out;
      }
    }
  }
}
