@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
}

.container {
  width: 100%;
  height: auto;
}
.container p {
  display: inline-block;
  margin-left: 7%;
  margin-right: 7%;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .brand-intro {
  border-top: 1.5px solid #0b0909;
  border-bottom: 1.5px solid #0b0909;
  border-left: 1px solid #0b0909;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .brand-intro .tc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 100%;
  position: relative;
}
.container .brand-intro .tc-container:hover .main-img {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.container .brand-intro .tc-container:hover .top-img {
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: 0.6;
}
.container .brand-intro .tc-container .main-img {
  width: 100%;
  height: 502px;
  border-right: 1px solid rgb(0, 0, 0);
}
.container .brand-intro .tc-container .top-img {
  width: 50%;
  height: auto;
  position: absolute;
  opacity: 0;
  background-color: transparent;
}
.container .text-intro {
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 90px;
  color: #0b0909;
}
.container .text-content {
  max-width: 1680px;
  min-height: 600px;
  background-color: #d6d6d6;
  font-size: 1.2rem;
}
.container .text-content .description {
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 1.3rem;
}
.container .legit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  max-width: 100%;
  height: auto;
  position: relative;
  color: #44444c;
}
.container .legit h1 {
  position: absolute;
  font-size: 5em;
  top: 43px;
  left: 1em;
  line-height: 70px;
}
.container .legit h2 {
  position: absolute;
  bottom: 9%;
  right: 7%;
  font-size: 2em;
}
.container .legit p {
  position: absolute;
  font-size: 2em;
  background-color: #d6d6d6;
  border: 3px solid #0b0909;
  padding: 10px;
  text-transform: uppercase;
}
.container .legit .item-1 {
  top: 37%;
  left: 51%;
}
.container .legit .item-2 {
  top: 30%;
  left: 22%;
}
.container .legit .item-3 {
  top: 60%;
  left: 37%;
}
.container .legit .background {
  width: 100%;
  height: auto;
}
.container .legit .example-img {
  position: absolute;
  top: 20%;
  left: 19%;
  width: 50%;
  height: auto;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}