@import "../../../../Styles/global-variables";

.card-container {
  display: inline-block;
  width: 384px;
  height: 660px;
  border: 2px solid $primary;
  margin: 1em;
  cursor: pointer;
  box-shadow: $cards_box_shadow;

  .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid $primary;
    color: $primary;

    h1 {
      font-size: 30px;
      margin-left: 10px;
    }

    p {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .card-img {
    height: 70%;
    width: 100%;
    position: relative;

    .alt-img {
      position: absolute;
      opacity: 0;
      left: 0;
    }

    .main-img {
      position: absolute;
      left: 0;
    }

    &:hover {
      .main-img {
        opacity: 0;
      }

      .alt-img {
        opacity: 1;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .card-foot {
    display: flex;
    flex-direction: column;
    height: 20%;
    border-top: 2px solid $primary;
    color: $primary;

    h1 {
      font-size: 25px;
      margin: 0.7em;
    }

    p {
      font-size: 25px;
      opacity: 0.7;
      margin: 0.7rem;
    }
  }
}
