.card-container {
  display: inline-block;
  width: 384px;
  height: 660px;
  border: 2px solid #0b0909;
  margin: 1em;
  color: #0b0909;
  cursor: pointer;
}
.card-container .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 10%;
  border-bottom: 2px solid #0b0909;
}
.card-container .card-head h1 {
  font-size: 30px;
  margin-left: 10px;
}
.card-container .card-head p {
  font-size: 20px;
  margin-right: 10px;
}
.card-container .card-img {
  height: 70%;
  width: 100%;
  position: relative;
}
.card-container .card-img .alt-img {
  position: absolute;
  opacity: 0;
  left: 0;
}
.card-container .card-img .main-img {
  position: absolute;
  left: 0;
}
.card-container .card-img:hover .main-img {
  opacity: 0;
}
.card-container .card-img:hover .alt-img {
  opacity: 1;
}
.card-container .card-img img {
  height: 100%;
  width: 100%;
}
.card-container .card-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20%;
  border-top: 2px solid #0b0909;
}
.card-container .card-foot h1 {
  font-size: 25px;
  margin: 0.7em;
}
.card-container .card-foot p {
  font-size: 25px;
  opacity: 0.7;
  margin: 0.7rem;
}