@import "../../Styles/global-variables";
@import "../../Styles/mixins";

.account-container {
  @include account-container();

  .middle {
    .info-block {
      @include account-block();

      .data {
        position: relative;
        @include account-data();

        ul {
          list-style: none;
        }

        .info {
          @include icon();

          img {
            @include pencil();
          }
        }
      }

      .new-address {
        margin-top: 10px;
        width: 25vw;
        height: 50px;
        background-color: $primary;
        color: $white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $silver;
          transition: 300ms ease-in-out;
        }

        &:active {
          transform: translateY(3px);
          transition: 100ms ease-in-out;
        }
      }
    }

    .password-info {
      .password {
        @include account-data();
        height: 2vh;
      }
    }
  }

  .right {
    width: 40vw;
    height: 100vh;

    .info-block {
      @include account-block();

      .data {
        position: relative;
        @include account-data();

        ul {
          list-style: none;
        }

        .info {
          @include icon();

          img {
            @include pencil();
          }
        }
      }

      .new-address {
        margin-top: 10px;
        width: 25vw;
        height: 50px;
        background-color: $primary;
        color: $white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $silver;
          transition: 300ms ease-in-out;
        }

        &:active {
          transform: translateY(3px);
          transition: 100ms ease-in-out;
        }
      }
    }
  }
}

.orders-container {
  @include account-container();
  height: 53vh;

  .orders-block {
    width: 70vw;
    margin-left: 5vw;

    .orders {
      display: flex;
      align-items: center;

      width: 50vw;
      height: 10vh;
      border: 2px solid $primary;
      background-color: $white;

      ul {
        list-style: none;
        margin: 0 4%;
      }
    }
  }
}
