@import "../../Styles/global-variables";
@import "../../Styles/mixins";

.account-container {
  @include account-container();

  .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    min-height: 130%;
  }

  .right {
    height: 100vh;
  }
}

.orders-container {
  @include account-container();
  min-height: 65vh;

  .orders-block {
    width: 70%;

    .orders {
      display: flex;
      align-items: center;
      width: 50vw;
      height: 10vh;
      border: 2px solid $primary;
      background-color: $white;

      ul {
        list-style: none;
        margin: 0 4%;
      }
    }
  }
}
