@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
* {
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.75px solid #8c8c8c;
  background-color: #d6d6d6;
}
nav a {
  width: 17.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
nav a.active p::before {
  width: 70%;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
nav a:first-of-type {
  width: 20%;
  border-right: 0.75px solid #8c8c8c;
}
@media screen and (width < 700px) {
  nav a:first-of-type img {
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    width: 10vw;
  }
}
nav a p {
  font-size: 1.5vw;
  color: #0b0909;
  position: relative;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
@media screen and (width < 700px) {
  nav a p {
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    font-size: 3vw;
  }
}
nav a p:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  border-bottom: 2px solid #0b0909;
  bottom: 3px;
}
nav .icons {
  width: 5%;
  border-left: 0.75px solid #8c8c8c;
}
nav .icons2 {
  position: relative;
  width: 5%;
}
nav .icons2 .basket-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35% 35% 0 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(68, 68, 76, 0.6);
  color: #8c8c8c;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
nav .icon {
  width: 2vw;
}
@media screen and (width < 700px) {
  nav .icon {
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    width: 4vw;
  }
}
nav .logo {
  width: 60px;
  height: 60px;
}

.footer-container {
  max-width: 2000px;
  margin: auto;
  color: #0b0909;
  background-color: #d6d6d6;
}
.footer-container .brand {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .brand h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 20vh;
  font-size: 6.5vw;
  background-color: #0b0909;
  color: #d6d6d6;
}
.footer-container .footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0;
}
.footer-container .footer .footer-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  padding: 0 15px;
  text-transform: capitalize;
}
.footer-container .footer .footer-col h4 {
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
}
.footer-container .footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #44444c;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}
.footer-container .footer .footer-col ul {
  list-style-type: none;
}
.footer-container .footer .footer-col ul li {
  margin-bottom: 10px;
}
.footer-container .footer .footer-col ul li a {
  font-weight: 300;
  color: #0b0909;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-container .footer .footer-col ul li a:hover {
  padding-left: 10px;
  color: white;
}
.footer-container .footer .footer-col .linked-list a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(11, 9, 9, 0.2);
  margin: 0 10px 10px 0;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-container .footer .footer-col .linked-list a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.footer-container .footer .footer-col .linked-list a img {
  margin: 10px 0 0 10px;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .footer-container .footer .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 574px) {
  .footer-container .footer .footer-col {
    width: 100%;
  }
}
.footer-container .bottom {
  width: 100%;
  height: auto;
}
.footer-container .bottom .hr-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.footer-container .bottom .hr-div hr {
  width: 90%;
}
.footer-container .bottom h3 {
  padding: 0 0 10px 82px;
}

.left {
  width: 20%;
  height: 100%;
}
.left .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
}
.left .links hr {
  color: #0b0909;
  width: 70%;
  opacity: 0.7;
}
.left .links .avatar {
  width: 50px;
  height: 50px;
  border: 2px solid #0b0909;
  border-radius: 50px;
  margin-bottom: 20px;
}
.left .links .avatar .image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.left .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41%;
  height: 33.33%;
  margin: 0.5em;
  color: #0b0909;
}
.left .links a img {
  margin-right: 5%;
  width: 20px;
  height: 20px;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.left .links button {
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33.33%;
  max-width: 28%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.left .links button img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 5%;
}