@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import "../../Styles/global-variables.scss";
* {
  text-decoration: none;
}

nav {
  margin: 0;
  background-color: $white;
  width: 100%;
  height: 80px;
  border-bottom: 0.75px solid $gray;
  display: flex;

  a {
    width: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    p {
      font-size: 20px;
      color: $primary;
      position: relative;
    }
  }

  .icons {
    width: 5%;
    border-left: 0.75px solid $gray;
  }

  .icons2 {
    width: 5%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }
}

nav a:first-of-type {
  width: 20%;
  border-right: 0.75px solid $gray;
}

nav a p::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid $primary;
  bottom: 3px;
}

nav a.active p::before {
  width: 70%;

  transition: all 200ms ease-in-out;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  color: $primary;

  h1 {
    text-align: center;
    width: 100%;
    height: 160px;
    padding-bottom: 12px;
    font-size: 100px;
    background-color: $primary;
    color: $white;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(5, 30px);
    margin-bottom: 35px;
    margin-left: 45px;
    padding-left: 40px;
    padding-top: 40px;
    width: 60%;
    height: 45%;
    gap: 1em;
    text-transform: uppercase;

    a {
      font-family: "Kanit", sans-serif;
      font-weight: 200;
      color: $primary;
      font-size: 20px;
    }
  }

  .join {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 172px;
    right: 0px;
    width: 40%;
    height: 45%;
    text-transform: uppercase;

    h2 {
      padding-top: 5%;
      padding-left: 20%;
      font-size: 2.5em;
    }

    .form__group {
      position: relative;
      margin-left: 20%;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 50%;
    }

    .form__field {
      width: 100%;
      border: 0;
      border-bottom: 2px solid $gray;
      outline: 0;
      font-size: 1.3rem;
      color: $primary;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }

    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.3s;
      font-size: 1rem;
      color: $gray;
    }

    .form__field:focus {
      ~ .form__label {
        top: 0;
        display: block;
        transition: 0.3s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
      }

      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, $gray, $white);
      border-image-slice: 1;
    }
  }
}

.down {
  width: 100%;
  height: auto;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    span {
      width: 90%;
      height: auto;
      border-top: 2px solid $primary;
    }
  }

  .links {
    justify-content: start;
    margin-left: 5%;
    h3 {
      width: 72.5%;
      display: inline-block;
      font-size: 20px;
    }
    div {
      p {
        font-size: 16px;
      }
    }
  }
}
