.card-page {
  min-height: 800px;
}
.card-page .line-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}
.card-page .line-back :active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.card-page .line-back button {
  cursor: pointer;
  background-color: transparent;
  color: #0b0909;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  margin-left: 5.5%;
}
.card-page .line-back button :first-of-type {
  opacity: 0.6;
}
.card-page .line-back button p {
  margin-right: 10px;
  font-size: 20px;
}
.card-page .sneaker-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2%;
}
.card-page .sneaker-content .mat-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 655px;
}
.card-page .sneaker-content .mat-images .swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 670px;
}
.card-page .sneaker-content .mat-images .swiper-container .swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.card-page .sneaker-content .mat-images .swiper-container .swiper-wrapper button {
  border: none;
  width: 83px;
  height: 20%;
}
.card-page .sneaker-content .mat-images .swiper-container .swiper-wrapper button img {
  width: 100%;
  height: 100%;
}
.card-page .sneaker-content .mat-images .swiper-container button {
  width: 30%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card-page .sneaker-content .mat-images .swiper-container button.prev:active {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.card-page .sneaker-content .mat-images .swiper-container button.next:active {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}
.card-page .sneaker-content .mat-images .swiper-container button img {
  width: 50%;
  height: 50%;
}
.card-page .sneaker-content .mat-images .clone-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 670px;
  border: 1px solid #0b0909;
  overflow: hidden;
}
.card-page .sneaker-content .mat-images .clone-image img {
  width: 100%;
  height: 100%;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.card-page .sneaker-content .mat-images .clone-image img:hover {
  scale: 1.2;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.card-page .sneaker-content .right {
  width: 40%;
  min-height: 655px;
  padding: 0 20px 0 10%;
}
.card-page .sneaker-content .right .name {
  padding-bottom: 22px;
}
.card-page .sneaker-content .right .name h1 {
  font-size: 34px;
}
.card-page .sneaker-content .right .price-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
  padding: 24px 0;
}
.card-page .sneaker-content .right .price-line .heart {
  margin-left: 35%;
  width: 10%;
  height: 50;
  border: none;
  background-color: transparent;
}
.card-page .sneaker-content .right .price-line .heart :active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.card-page .sneaker-content .right .price-line .heart img {
  width: 30px;
  height: 30px;
}
.card-page .sneaker-content .right .price-line .buy {
  margin-left: 2%;
  width: 45%;
  height: 60px;
  border: none;
  color: #d6d6d6;
  background-color: #0b0909;
  cursor: pointer;
}
.card-page .sneaker-content .right .price-line .buy:hover {
  background-color: #2b2b2b;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
.card-page .sneaker-content .right .price-line .buy:active {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}
.card-page .sneaker-content .right .description {
  padding-top: 30px;
}
.card-page .sneaker-content .right .description .text {
  border-bottom: 1px solid #8c8c8c;
  font-size: 23px;
  line-height: 34px;
  padding-bottom: 30px;
}
.card-page .sneaker-content .right .description b {
  font-size: 30px;
}
.card-page .sneaker-content .right .description .materials {
  font-size: 20px;
}